<div class="ui modal" id="chart_report">
  <i class="close icon"></i>
  <h2 class="ui dividing header">图表设置</h2>
  <div class="content">
    <%= simple_form_for @temporary_chart, url: chart_report_temporary_reports_path, remote: true, method: :get do |f| %>
        <div class="two fields">
          <%= f.input :y_axis %>
        </div>
        <%= hidden_field_tag :id,@temporary_report.id%>
        <%= f.hidden_field :temporary_report_id%>
        <%= f.text_area :chart_data , placeholder: "数据源"%></br></br>
        <%= f.text_area :note , placeholder: "描述"%></br></br>
        <div class="column">
          <%= f.submit '提交', class: 'ui primary button' %>
        </div>
    <% end %>
  </div>
</div>

