<tr id="temporary_report_<%= temporary_report.id %>" >
   <td class="center aligned"> <%= temporary_report.name %> </td>
   <td class="center aligned"> <%= temporary_report.created_at.strftime("%Y-%m-%d") %> </td>
   <td class="center aligned"> <%= temporary_report.note[0..100] %> </td>
   <td class="center aligned"> 
    <%= link_to '查看', report_temporary_reports_path(id:temporary_report.id) , class: 'ui primary button' %>
     
    <%= link_to '编辑', edit_temporary_report_path(id:temporary_report.id), remote: true , class: 'ui primary button' %>
    <%= link_to '权限', set_report_permission_temporary_reports_path(id:temporary_report.id), remote: true , class: 'ui primary button' %>
    <%= link_to '合并', composite_report_temporary_reports_path(id:temporary_report.id), remote: true , class: 'ui primary button' %>
    <%= link_to '图表', chart_report_temporary_reports_path(id:temporary_report.id), remote: true , class: 'ui primary button' %>
    <%= ajax_bar(__FILE__,temporary_report,[{:name => :inactive, confirm: '您确定冻结该报表？', :label => false,  html: {:class => 'ui icon red button'}}]) do%>
      <i class="frown icon"></i>
    <%end%>

    <%= ajax_bar(__FILE__,temporary_report,[{:name => :active, confirm: '您确定解冻该报表？', :label => false,  html: {:class => 'ui icon yellow button'}}]) do%>
      <i class="frown icon"></i>
    <%end%>

   </td>
</tr>