<% if @temporary_report.errors.blank?  %>
  $("#temporary_report_<%= @temporary_report.id %>").replaceWith("<%= j(render partial: 'list', locals: { temporary_report: @temporary_report} ) %>");
  $("#report_modal").modal('hide');
<% else %>
  $(".field .red.pointing").remove();
  <% @temporary_report.errors.messages.each do |key, value| %>
    $("#temporary_report_<%= key %>").parent().addClass('error');
    $("#temporary_report_<%= key %>").parent().append("<div class='ui basic red pointing prompt label transition visible'><%= value[0] %></div>");
  <% end %>
<% end %>

$(".button").popup();
$(".icon").popup();
$(document).find('.dropdown').dropdown({
    on: 'hover'
});
