<% if @campaign.errors.blank? %>
  $("#campaign_<%= @campaign.id %>").replaceWith("<%= j(render partial: 'list', locals: { campaign: @campaign} ) %>");
  $("#set_campaign_modal").modal('hide');
<% else %>
  $(".red.pointing").remove();
  $(".field").removeClass('error');
  <% @campaign.errors.messages.each do |key, value| %>
    //parent()方法：返回被选中元素的父元素
    $("#campaign_<%= key %>").parent().addClass('error');
    $("#campaign_<%= key %>").parent().append("<div class='ui basic red pointing prompt label transition visible'><%= value[0] %></div>");
  <% end %>
<% end %>


