<div class="whmall_slide">
    <div class="slide-nav"><span class="slide-close" title="关闭">×</span></div>
    <div class="scroll-wrapper slide-scroll-el ui-scrollbar">
      <div class="slide_body">
        <div class="scroll_bar">
          <div class="detail-tit">
            <h4>
              <span>姓名：<%= @employee&.name %> </span>
              <%= link_to "#{@tracking_target.include? @opxpid ? '解除实时追踪' : '实时追踪' }", vip_tracking_admin_trackings_path(opxpid:@opxpid), remote: true , class: 'ui primary button' %>
            </h4>
            <p class="info-txt">
              <span>当天首登时间：<%= @message[:time_now] %></span>
              <span>登录IP：<a href="http://www.ip.cn/index.php?ip=#{@message[:ip]}" target="_blank"><%= @message[:ip] %></a></span>
            </p>
            <p class="info-txt">
              <span>登录设备信息：<%= @message[:opxuserAgent] %></span>
            </p>
            <p class="info-txt">
              <span>浏览TAG：<%= @tags %></span>
            </p>
            <br>
          </div>
          <div class="content">
              <h4 class="tit"><span>浏览记录</span></h4>
              <div>
                  <table class="ui selectable striped celled table">
                    <thead>
                      <tr>
                        <th>访问连接</th>
                      </tr>
                    </thead>
                    </tbody>
                    <% @urls.each do |url|%>
                      <tr>
                        <td><a href="<%= url.split("@").last %>"><%= url %></a></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function refresh_analisis(){
        $.ajax({
          url: '/admin/trackings/load_detail',
          data: {em_id:<%= @employee.id %>,opxpid:<%= @opxpid %>}
          type: "get",
          dataType: 'script'
        });
      }
      setInterval('refresh_analisis()',10000)//指定20秒刷新一次
  </script>
