<div class="whmall_cover">
  <div class="whmall_slide">
    <div class="slide-nav"><span class="slide-close" title="关闭">×</span></div>
    <div class="scroll-wrapper slide-scroll-el ui-scrollbar">
      <div class="slide_body">
        <div class="scroll_bar">
          <div class="detail-tit">
            <h4><span>产品：590-93-2 </span><span>总库存：0.5kg</span></h4>
            <p class="info-txt">
              <span>负责人：梅青</span>
              <span>供应商：成都巴赛泰德生物科技有限公司</span>
            </p>
            <br>
          </div>
          <div class="content">
              <h4 class="tit"><span>定价信息</span></h4>
              <div>
                  <table class="ui selectable striped celled table">
                    <thead>
                      <tr>
                        <th>包装规格</th>
                        <th>价格</th>
                        <th>纯度</th>
                        <th>类型</th>
                        <th>状态</th>
                      </tr>
                    </thead>
                    </tbody>
                    <% 10.times.each do %>
                      <tr>
                        <td><%= "10g" %></td>
                        <td><%= "150.0" %></td>
                        <td><%= "99%" %></td>
                        <td><%= "散装" %></td>
                        <td><%= "启用" %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
              </div>
            <br>
            <h4 class="tit"><span>定价信息</span></h4>
              <div>
                  <table class="ui selectable striped celled table">
                    <thead>
                      <tr>
                        <th>包装规格</th>
                        <th>价格</th>
                        <th>纯度</th>
                        <th>类型</th>
                        <th>状态</th>
                      </tr>
                    </thead>
                    </tbody>
                    <% 10.times.each do %>
                      <tr>
                        <td><%= "10g" %></td>
                        <td><%= "150.0" %></td>
                        <td><%= "99%" %></td>
                        <td><%= "散装" %></td>
                        <td><%= "启用" %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
              </div>
            <br>
            <h4 class="tit"><span>定价信息</span></h4>
              <div>
                  <table class="ui selectable striped celled table">
                    <thead>
                      <tr>
                        <th>包装规格</th>
                        <th>价格</th>
                        <th>纯度</th>
                        <th>类型</th>
                        <th>状态</th>
                      </tr>
                    </thead>
                    </tbody>
                    <% 10.times.each do %>
                      <tr>
                        <td><%= "10g" %></td>
                        <td><%= "150.0" %></td>
                        <td><%= "99%" %></td>
                        <td><%= "散装" %></td>
                        <td><%= "启用" %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
