<div class="ui grid">
  <div class="left floated fourteen wide column" >
    <font style="font-weight: bold;font-size: 1.28rem;" >当前用户分析</font> 
    <font style="font-weight: bold;font-size: 1rem;margin-left:20px;" >当前登录账户数：<%= cache_read("uuids")||0 %></font>
  </div>
</div>

<div class="ui blue segment" style='background: rgba(255, 255, 255, 0.2);'>
  <table>
   <tr>
  <% (cache_read("uuids_list")||[]).each_with_index do |uuid,i| %>
    <% em = Employee.find( cache_read(uuid).to_i/(31415926 * 201314)) %>
    <% i += 1 %>
    <% if ( i%10== 0 && i != 0 ) %>
       <td style="width: 200px;" style="margin-bottom: 30px;">
          <div style="text-align: center;">
            <a data-remote="true" href="/admin/trackings/analysis?tag=user&em_id=<%= em&.id %>&opxpid=<%= uuid %>" class="ui teal image label" >
              <%= image_tag 'male.jpg', class: 'ui avatar image' %><%= cache_read("#{uuid}_uuids") %>
            </a>
          </div>
          <div style="margin-bottom: 15px; text-align: center;"><%= "#{em&.name }" %></div>
       <td>
       </tr>  
       <tr style="margin-bottom: 30px;">
    <% else %>
       <td style="width: 200px;" style="margin-bottom: 30px;">
          <div style="text-align: center;">
            <a data-remote="true" href="/admin/trackings/analysis?tag=user&em_id=<%= em&.id %>&opxpid=<%= uuid %>" class="ui teal image label" >
                <%= image_tag 'male.jpg', class: 'ui avatar image' %><%= cache_read("#{uuid}_uuids") %>
            </a>
          </div>
          <div style="margin-bottom: 15px;text-align: center;"><%= "#{Employee.find( cache_read(uuid).to_i/(31415926 * 201314) )&.name }" %></div>
       </td>
    <% end %>  
  <% end %>
  </tr>
  </table>
</div>


<div class="ui grid">
  <div class="left floated fourteen wide column">
    <h3><font >当前热度分析</font></h3>
  </div>
</div>

<div class="ui yellow segment"  style='background: rgba(255, 255, 255, 0.2);'>
    <div class="ui six column grid">

      <% TRACKING_TAG.keys.each do |_| %>
        <div class="column">
          <div class="ui left icon input fluid">
            <div class="ui compact menu" style="margin-left: 50px;">
              <% cache_read_a = cache_read(_)||0  %>
              <a class="item"><i class="icon home"></i> <%= TRACKING_TAG[_] %> <div class="floating ui  <%= cache_read_a > 10 ? 'red' : 'teal' %>  label"><%= cache_read_a %></div>
              </a>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
</div>

