<div class="whmall_cover">
  <div class="whmall_slide">
    <div class="slide-nav"><span class="slide-close" title="关闭">×</span></div>
    <div class="scroll-wrapper slide-scroll-el ui-scrollbar">
      <div class="slide_body">
        <div class="scroll_bar">
          <div class="detail-tit">
            <h4><span>姓名：<%= @employee.name %> </span></h4>
            <p class="info-txt">
              <span>当天首登时间：<%= @message[:time_now] %></span>
              <span>登录IP：<%= @message[:ip] %></span>
            </p>
            <p class="info-txt">
              <span>登录设备信息：<%= @message[:opxuserAgent] %></span>
            </p>
            <p class="info-txt">
              <span>浏览TAG：<%= @tags %></span>
            </p>
            <br>
          </div>
          <div class="content">
              <h4 class="tit"><span>浏览记录</span></h4>
              <div>
                  <table class="ui selectable striped celled table">
                    <thead>
                      <tr>
                        <th>访问连接</th>
                      </tr>
                    </thead>
                    </tbody>
                    <% @urls.each do |url|%>
                      <tr>
                        <td><a href="<%= url.split("@").last %>"><%= url %></a></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
